header {
  margin-top: 30px;
  height: 30px;
}

nav {
  position: fixed;
  top: 20px;
  width: 100%;
  padding: 10px 20px;
}
nav .wrap {
  padding-right: 20px;
}
nav .nav_btns {
  display: flex;
  justify-content: flex-end;
}
nav .dropdown_menu {
  display: none;
}
nav.active {
  z-index: 999;
  background-color: #f8f8f8;
  border-radius: 20px;
  animation: fadeInDown 1s;
}
nav.active .nav_btns .menu_btn .icon_menu {
  background-image: url(../img/icon/icon_menu02.png);
  background-position: 7px 14px;
}
nav.active .nav_btns .select_box {
  display: none;
}
nav.active .dropdown_menu {
  display: block;
}
nav.active .dropdown_menu ul {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
nav.active .dropdown_menu ul li {
  width: 180px;
  text-align: center;
  position: relative;
}
nav.active .dropdown_menu ul li::after {
  content: "";
  display: inline-block;
  width: 1px;
  height: 13px;
  background-color: #000;
  position: absolute;
  right: 0;
  top: 7px;
}
nav.active .dropdown_menu ul li:last-child::after {
  display: none;
}
nav.active .dropdown_menu ul li a {
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  color: #000;
}

#section_02 {
  padding: 100px 0px;
}
#section_02 .section_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#section_02 .section_wrap .img_box {
  padding: 0px 50px 0px 80px;
  position: relative;
}
#section_02 .section_wrap .img_box .img {
  display: flex;
  justify-content: end;
}
#section_02 .section_wrap .img_box .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 1px solid #000;
}
#section_02 .section_wrap .img_box .skill_wrap {
  position: absolute;
  bottom: 0;
}
#section_02 .section_wrap .img_box .skill_wrap p {
  font-size: 1rem;
  line-height: 16px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 300;
}
#section_02 .section_wrap .img_box .skill_wrap .skills {
  display: flex;
}
#section_02 .section_wrap .img_box .skill_wrap .skills button {
  margin-right: 15px;
}
#section_02 .section_wrap .img_box .skill_wrap .skills button:last-child {
  margin-right: 0px;
}
#section_02 .section_wrap .text_box {
  padding: 0px 80px 0px 50px;
}
#section_02 .section_wrap .text_box p {
  font-size: 1.25rem;
  line-height: 28px;
}
#section_02 .section_wrap .text_box .tit {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 25px;
  font-weight: 300;
}

#section_03 {
  background-color: #F8F8F8;
  padding: 100px 0px 120px 0px;
}
#section_03 .tit_wrap {
  width: 50%;
  margin-left: 50%;
  padding: 0px 80px;
}
#section_03 .tit_wrap h5 {
  font-size: 3rem;
  color: #000;
  line-height: 50px;
  font-weight: 500;
}
#section_03 .tit_wrap p {
  font-size: 1.125rem;
  line-height: 25px;
  font-weight: 300;
}
#section_03 .content_wrap {
  padding: 0px 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 70px;
  column-gap: 50px;
}
#section_03 .btn_wrap {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

footer {
  border: 1px solid red;
  width: 100%;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}/*# sourceMappingURL=style.css.map */