header {
  margin-top: 30px;
  height: 30px;
}

nav {
  position: fixed;
  top: 20px;
  width: 100%;
  padding: 10px 20px;
  .wrap {
    padding-right: 20px;
  }
  .nav_btns {
    display: flex;
    justify-content: flex-end;
  }
  .dropdown_menu {
    display: none;
  }
  &.active {
    z-index: 999;
    background-color: #f8f8f8;
    border-radius: 20px;
    animation: fadeInDown 1s;
    .nav_btns {
      .menu_btn {
        .icon_menu {
          background-image: url(../img/icon/icon_menu02.png);
          background-position: 7px 14px;
        }
      }
      .select_box {
        display: none;
      }
    }
    .dropdown_menu {
      display: block;
      ul {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        li {
          width: 180px;
          text-align: center;
          position: relative;
          &::after {
            content: '';
            display: inline-block;
            width: 1px;
            height: 13px;
            background-color: #000;
            position: absolute;
            right: 0;
            top: 7px;
          }
          &:last-child {
            &::after {
              display: none;
            }
          }
          a {
            display: inline-block;
            font-size: 16px;
            font-weight: 300;
            color: #000;
          }
        }
      }
    }
  }
}

#section_02 {
  border: 1px solid darkblue;
  padding: 100px 0px;
  .section_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .img_box {
      padding: 0px 50px 0px 80px;
      position: relative;
      .img {
        display: flex;
        justify-content: end;
        img {
          width: 140px;
          height: 140px;
          border-radius: 50%;
        }
      }
      .skill_wrap {
        position: absolute;
        bottom: 0;
        p {
          font-size: 16px;
          line-height: 16px;
          color: #000;
          margin-bottom: 10px;
        }
        .skills {
          display: flex;
          button {
            margin-right: 15px;
            &:last-child {
              margin-right: 0px;
            }
          }
        }
      }
    }
    .text_box {
      padding: 0px 80px 0px 50px;
      p {
        font-size: 20px;
        line-height: 28px;
      }
      span {
        display: inline-block;
      }
    }
  }
}





footer {
  border: 1px solid red;
  position: fixed;
  bottom: 0;
  width: 100%;
}


// transition
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}


